<div class="nav-bar">
  <%= render "navigation" %>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 mx-auto">
      <% @articles.each do |article| %>
        <h3><%= link_to article.title, article_path(article), class: "title" %></h3>
        <p class="content"><%= article.content %></p>
        <% end %>
    </div>
  </div>
</div>
