@import url("components/navbar.css");
@import url("components/form.css");

 body {
  background-color: gainsboro;
 }

 .container {
   margin-top: 30px;
 }



h3 .title, .icon {
  color: rgb(70, 150, 153);
  text-decoration: none;
}

h3 .title:hover {
  color: rgb(40, 87, 89);
  text-decoration: underline;
}

.content {
  font-weight: 200;

}

.show-title {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(158, 154, 154);
  padding: 20px;
}

.show-content {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  font-size: 20px;
  padding: 4px;
  margin: 3px;
}

.icon:hover{
  color: rgb(40, 87, 89);
}



.btn-container {
  display:  inline;
}

.link-decoration-none {
  text-decoration: none;
  color: rgb(55, 114, 116);
}

.link-decoration-none:hover {
  text-decoration: underline;
  color: rgb(34, 70, 71);;
}
